* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #fff;
    min-height: 100%;
}

article {
    width: 80%;
    margin: 75px auto 100px;
    position: relative;
    width: 1060px;
    background-color: #fff;
    padding: 130px 100px 30px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.22);

}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    margin-bottom: 20px;
}

h2::selection {
    background: #fff2a8;
}
h2::-moz-selection {
    background: #fff2a8;
}


p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 34px;
}

p::selection {
    background: #fff2a8;
}
p::-moz-selection {
    background: #fff2a8;
}

p:nth-of-type(1):first-letter {
    font-size: 110px;
    float: left;
    font-weight: 400;
    margin: 30px 30px 15px 0;
    font-family: 'Playfair Display', serif;
}

.quote {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: italic;
}

.quote::selection {
    background: #fff2a8;
}
.quote::-moz-selection {
    background: #fff2a8;
}


.quote:before {
    content: "“";
    font-size: 50px;
    margin-right: 20px;
}

button {
    text-transform: uppercase;
    width: 270px;
    height: 60px;
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid #eaa158;
    display: inline-block;
    cursor: pointer;
    color: #eaa158;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}

button:hover {
    transition: .3s;
    background-color: #eaa158;
    color: #fff;
}

button:active {
    border: 3px solid #a5723f;
    background-color: #da9652;
    transition: .1s;
}

button:focus {
    outline: none;
}

